
.body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: steelblue;
}
.h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.nav{
    display: flex;
    background-color: rgb(197, 191, 191);
}
.main{
    display: grid;
}
