@media screen and (min-width: 501px){
    header{
        background-color: brown;
    }
    .navigation {
		display: flex;
	}
    .navigation li {
		display: block;
		flex: 1 1 100%;
	}
    .navigation a {
		text-align: center;
	}

    .menu {
		display: none;
	}
    .main-cointainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
        
    
    .main-cointainer img{
        grid-column: 1;
    }
    #menu{
        display: none;
    }
}
